<%- include('partials/header') -%>
 <h1>Compose</h1>
<form action="/compose" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="comp_title">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Post</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="comp_post"></textarea>
      </div>
      <button type="submit" name="button" class="btn btn-primary" style="margin-top: 1rem;">publish</button>
</form>

<%- include('partials/footer'); -%>